<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>PAGINA DE INICIO HECHA POR JAMIR</h2>
        <h4>LISTA DE PERSONAS</h4>
        <hr> 
        <div th:if = "${usuarios!= null and !usuarios.empty}">
            <table border ="1">
                <tr>
                    <th>Cedula</th>
                    <th>Clave</th>
                    <th>Nombre</th>
                    <th>Email</th>
                </tr>
                <tr th:each = "u: ${usuarios}">
                    <td th:text = "${u.cedula}"></td>
                    <td th:text = "${u.clave}"></td>
                    <td th:text = "${u.nombre}"></td>
                    <td th:text = "${u.email}"></td>
                </tr>
            </table>
        </div>
        <div th:if = "${usuarios == null or usuarios.empty}">
            La lista de Usuarios esta vacia
        </div>

    </body>
</html>
